{% extends "base_generic.html" %}

{% block content %}
<h1>Who Wants To Be A Millonare</h1>

<p>Kontrol edilen soru id: {{ question_id }}</p>
<p>Seçilen cevap: {{ user_choice }}</p>
<p>Verilen cevap: {{ active_question.correct_choice }}</p>
<p>Sıradaki soru id: {{ next_question_id }}</p>
<p> <b>Sonuç: {{ result }} </b></p>



{% if result == "dogru" %}
    <p><a href="{% url 'show-question' next_question_id %}">{{ next_question_id }}. soru</a></p>
{% else %}
    <b>Yanlış cevap</b>
<p> <a href="{% url 'start-game' %}">Yarışmaya yeniden başla </a> </p>

{% endif %}


{% endblock %}