{% extends "base_generic.html" %}

{% block content %}
<h1>Who Wants To Be A Millonare</h1>

<p> <a href="{% url 'questions' %}">List all Questions </a> </p>
<p> <a href="{% url 'start-game' %}">Who Wants to Be a Millionaire Game</a> </p>


{% endblock %}
