{% extends "base_generic.html" %}

{% block content %}
<h1>Who Wants To Be A Millonare</h1>


<p>Toplam soru sayısı: {{ num_questions }}</p>

<p>Soru id:{{ question.id }}</p>
<p>Soru:{{ question.title }}</p>

<hr>
<p><strong>Choice A:</strong> <a href="{% url 'check-answer' question.pk 'a' %}">{{ question.choice_a }}</a></p>
<p><strong>Choice B:</strong> <a href="{% url 'check-answer' question.pk 'b' %}">{{ question.choice_b }}</a></p>
<p><strong>Choice C:</strong> <a href="{% url 'check-answer' question.pk 'c' %}">{{ question.choice_c }}</a></p>
<p><strong>Choice D:</strong> <a href="{% url 'check-answer' question.pk 'd' %}">{{ question.choice_d }}</a></p>

<p>Soru idleri: {{ soru_liste }}</p>
<p>Aktif soru id: {{ active_question }}</p>


{% endblock %}