{% extends "base_generic.html" %}

{% block content %}
<h1>Who Wants To Be A Millonare</h1>

<p>{% for object in object_list %}</p>
Soru id: {{object.id}} - Zorluk: {{object.difficulty}} Soru: {{object.title}}
{% endfor %}
<hr>

    <p><a href="{% url 'show-question' object_list.0.id %}">First Question</a></p>

{# Gelen listenin ilk nesnesinin id niteliği:{{ object_list.0.id }} #}

--------
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
---------


<p>id listesi:  {{ id_listesi }}</p>

<hr>

{% endblock %}