{% extends "base_generic.html" %}

{% block content %}

<h1>{{ question.title }}</h1>
<p><strong>Choice A:</strong> {{ question.choice_a }}</p>
<p><strong>Choice B:</strong> {{ question.choice_b }}</p>
<p><strong>Choice C:</strong> {{ question.choice_c }}</p>
<p><strong>Choice D:</strong> {{ question.choice_d }}</p>

<p><strong>correct choice:</strong> <a href="">{{ question.correct_choice }}</a></p>
<p><strong>Difficulty :</strong> <a href="">{{ question.difficulty }}</a></p>

<div style="margin-left:20px;margin-top:20px">


<a href="{% url 'questions' %}">Question List</a></p>




</div>
{% endblock %}